/*EXTERNALDieses CSS habe ich unter zu Hilfe name folgendes Youtube Tutorials erstellt: https://www.youtube.com/watch?v=dVYdOSSJ_Tk */

body{
 background:#F0F8FF;; /*Hintergrundfarbe*/
    font-size:100%; /*Standard Font Size =>Schriftgrösse 16px*/
    margin:0em;
    padding:0em;
    
}
h1{
    font-size:2.5em; /*2.5x Standardschriftgrösse*/
    line-height:2.5em; /*2.5x Standardzeilenabstand*/
    font-family:Times New Roman; /*Schrift sans-serif*/
    font-weight: 100; /*Schrift Gewicht 100*/
    color:white; /*setzt Farbe*/
    margin:0em; /*Ränder 0em*/
}
h2{
    font-size:1.563em;
    line-height:1.8em;
    font-family:sans-serif;
    font-weight: 100;
    color:black;
    margin:0em;
    padding:0.5em 0.5em 0em 0.5em; /*inneren Abstand 0.833em*/
    text-align: left; /*Text links orrientiert*/
    
}
p{    
    /*Keine Schriftgrösse, somit Standardschriftgrösse*/
    line-height:1.25em;
    font-family: sans-serif;
    font-weight:100;
    color:black; /*Schriftfarbe schwarz*/
    margin:0em;
    padding: 0.5em;
    text-align:justify; /*Blocksatz*/
        
}

/*Standardangaben für Auflistungen*/
ul{
    margin:0px; /*kein Abstand*/
    padding:0px;
}
/*Einstellungen für Listenelemente*/
li{
    list-style:circle;
    font-family: sans-serif;
    font-weight:100;
    color:black; /*Schriftfarbe schwarz*/
    line-height:0.25em;
    margin:0em;
    padding:0em;
    margin:0.313em 0em 0.313em 0em; /*Abstände auf jeder Seite, ca. 3px*/
    
}
/*Einstellungen für Bilder*/
img{
    width:90%; /*Breite des Bilder =90% des Elternelementes*/
    height:auto; /*Automatische Bildhöhe im Verhältnis zur Breite*/
    max-width:100%; /*Maximale Bildbreite =100% der Seitenbreite*/
    
}

a{
   text-decoration: none; 
}
/*Oberste Leiste*/
#menuleiste {
    display:block;
    background:#4682B4;
   
    
}


#menuleiste ul{
    display:block;
    width:2em; /*Beschränkt die Grösse des Menu Buttons*/
    padding:0.9em;
}

#menuleiste ul li{
    display:inline;
   

}
#menuleiste ul li a.menubutton{
    display:none;
}

/*Header*/
header{
    display:block;
    background: #4682B4;
    text-align: center;
}

/*Navigation*/
nav{
    display:block;
    height:2.5em;
    color:black;
    text-align: center;
    
}

nav ul{
    display:block;
background:lightgray;
}

nav ul li{
    display:inline;
    margin: 0em 0.188em 0em 0.188em;
}

nav ul li a {
    color:black;
    font-size: 1.125em;
    line-height:2.5em;
    padding:0.563em 0.938em 0.375em 0.983em;
    transition:background:0.2s;
    -webkit-transition:background:0.2s;
}
nav ul li a:hover{
    background:white;
    border-bottom: 0.188em solid red;
}
nav ul li a.active{
    border-bottom: 0.188em solid red;
}
/*Inhalts Bereich*/
#hauptbereich{
    display:block;
    background:#F0F8FF;
    width:95%;
    max-width:1000px;
    margin:1.25em auto;
    padding 0em;
}

#hauptbereich article{
    display:inline-block;
    width: 100%;
    background:#F0F8FF;
    vertical-align: top;
    margin: 0em;
    text-align: center;
    
}
#hauptbereich article img{
    max-width: 1000px;    
    border-radius: 5px;
   
  
}
.links {
    max-width: 500px;
    float:left;
    margin-right: 0.5em;
    margin-bottom:0.5em;  
}
.rechts {
    max-width: 500px;
    float:right;
    margin-left: 0.5em;
    margin-bottom:0.5em;
              
}
footer{
    display:block;
    background:#F0F8FF;
    text-align:center;
}

footer ul{
    display:block;
    width:100%;
    max-width: 1000px;
    text-align: left;
    margin:0px auto;

}
footer ul li{
    display:inline;
    font-size:0.8em;
    line-height:2.8em;
    color:black;
    padding:0em 0.5em 0em 0.5em
}

footer ul li a{
    color:black;
}


/* Mobile Ansichte */
@media screen and (max-width:800px) {
    body {
        font-size:90%;
    }
}
@media screen and (max-width:600px) {
    #main aside, #main article {
        width:100%;
        display:block;
        margin:0.5em 0em 0.5em 0em;
    }
}

@media screen and (max-width:550px) {
    body {
        font-size:80%;
    }
    #menuleiste ul li a.menubutton {
        display:block;
    }
    nav {
        display:none;
        height:auto;
    }
    nav ul li {
        display:block;
        margin:0.3em 0em 0.3em 0em;
    }
}
