/*EXTERNALDieses CSS habe ich unter zu Hilfe name folgendes Youtube Tutorials erstellt: https://www.youtube.com/watch?v=dVYdOSSJ_Tk */

body{
 background:#DCDCDC; /*Hintergrundfarbe*/
    font-size:100%; /*Standard Font Size =>Schriftgrösse 16px*/
    margin:0em;
    padding:0em;
    
}
h1{
    font-size:2.5em; /*2.5x Standardschriftgrösse*/
    line-height:2.5em; /*2.5x Standardzeilenabstand*/
    font-family:sans-serif; /*Schrift sans-serif*/
    font-weight: 100; /*Schrift Gewicht 100*/
    color:#F0FFFF; /*setzt Farbe*/
    margin:0em; /*Ränder 0em*/
}
h2{
    font-size:1.563em;
    line-height:1.8em;
    font-family:sans-serif;
    font-weight: 100;
    color:black;
    margin:0em;
    padding:0.83333em; /*inneren Abstand 1.25em*/
    text-align: left; /*Text links orrientiert*/
    
}
p{    
    /*Keine Schriftgrösse, somit Standardschriftgrösse*/
    line-height:1.25em;
    font-family: sans-serif;
    font-weight:100;
    color:black; /*Schriftfarbe schwarz*/
    margin:0em;
    padding: 1.25em;
    text-align:justify; /*Blocksatz*/
        
}

/*Standardangaben für Auflistungen*/
ul{
    margin:0px; /*kein Abstand*/
    padding:0px;
}
/*Einstellungen für Listenelemente*/
li{
    list-style:circle;
    font-family: sans-serif;
    font-weight:100;
    color:black; /*Schriftfarbe schwarz*/
    line-height1.25em;
    margin:0em;
    padding:0em;
    margin:0.313em 0em 0.313em 0em; /*Abstände auf jeder Seite, ca. 3px*/
    
}
/*Einstellungen für Bilder*/
img{
    width:90%; /*Breite des Bilder =90% des Elternelementes*/
    height:auto; /*Automatische Bildhöhe im Verhältnis zur Breite*/
    max-width:100%; /*Maximale Bildbreite =100% der Seitenbreite*/
    
}

a{
   text-decoration: none; 
}
/*Oberste Leiste*/
#menuleiste {
    display:block;
    background: white;
   
    
}


#menuleiste ul{
    display:block;
    width:2em; /*Beschränkt die Grösse des Menu Buttons*/
    padding:0.9em;
}

#menuleiste ul li{
    display:inline;
   

}

/*Header*/
header{
    display:block;
    background: #666666;
    text-align: center;
}

/*Navigation*/
nav{
    display:block;
    height:2.5em;
    color:white;
    text-align: center;
    
}

nav ul{
    display:block;
}

nav ul li{
    display:inline;
    margin: 0em 0.188em 0em 0.188em;
}

nav ul li a {
    color:black;
    font-size: 1.125em;
    line-height:2.5em;
    padding:0.563em 0.938em 0.375em 0.983em;
    transition:background:0.2s;
    -webkit-transition:background:0.2s;
}
nav ul li a:hover{
    background:grey;
    border-bottom: 0.188em solid red;
}
nav ul li a.active{
    border-bottom: 0.188em solid red;
}
/*Inhalts Bereich*/
#hauptbereich{
    display:block;
    width:95%;
    max-width:1000px;
    margin:1.25em auto;
    padding 0em;
}

#hauptbereich article{
    display:inline-block;
    width: 100%;
    background:white;
    vertical-align: top;
    margin: 0em;
    text-align: center;
    
}
#hauptbereich article img{
    max-width: 500px;
    box-shadow: 0px, 0px 10px -5px grey;
}